:root {
  --second-color: #4d5ae5;
  --current-color: #404bbf;
  --main-color: #2e2f42;
  --light-main-color: rgba(46, 47, 66, 0.4);
  --green: #31d0aa;
  --contact-information-color: #434455;
  --grey: #8e8f99;
  --btn-background: #e7e9fc;
  --cloud-white-color: #f4f4fd;
  --navy-blue: 40% #2e2f42;
  --background-color: #ffffff;
  --modal-background: #fcfcfc;

  /* --padding-vertical-container: 94px;
    --size-padding-portfolio: 300px;
    --item-portfolio-count: 5; */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'Roboto';
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  padding-left: initial;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.header {
  height: 56px;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 72px;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .header_position {
    display: flex;
    width: 793px;
  }
}
@media screen and (min-width: 1158px) {
  .header_position {
    width: 1128px;
  }
}
@media screen and (min-width: 768px) {
  .current {
    color: var(--current-color);
  }
}
@media screen and (min-width: 768px) {
  .current::before {
    content: '';
    position: absolute;
    /* left: 0;
    right: 0; */
    width: 48px;
    height: 4px;
    background-color: var(--current-color);
    top: 68px;
    align-items: center;
  }
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    height: 72px;
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .nav__logo {
    padding: 19px 16px;
    margin-right: 104px;
  }
}
.nav__logo-first {
  color: var(--second-color);
}
.nav__logo-second {
  color: var(--main-color);
}
.nav__logo {
  color: var(--main-color);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    padding: 32px 0;
    margin-top: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color var(--animation);
    text-decoration: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .navigate {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .navigate__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
  }
}
.navigate.list.lists,
.contacts.list {
  display: none;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    padding: 16px;
  }
}
@media screen and (min-width: 1158px) {
  .contacts {
    flex-direction: row;
    gap: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 24px;
  }
}
.contacts__item:hover,
.contacts__item:focus {
  color: var(--current-color);
}
@media screen and (min-width: 768px) {
  .contacts__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: var(--contact-information-color);
    transition: color, var(--animation);
  }
}
@media screen and (min-width: 1158px) {
  .contacts__item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--contact-information-color);
    transition: color, var(--animation);
  }
}
@media screen and (min-width: 768px) {
  .navigate.list.lists,
  .contacts.list {
    display: flex;
    visibility: inherit;
  }
  .navigate.list.lists {
    max-width: 294px;
  }
}
@media screen and (min-width: 768px) {
  .lists li:not(:last-child) {
    margin-right: 40px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__first {
    padding-bottom: 6px;
  }
}
@media screen and (min-width: 768px) {
  .icon {
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__tel {
    width: 10px;
    height: 16px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__email {
    width: 16px;
    height: 12px;
  }
}
@media screen and (min-width: 768px) {
  .navigate__link {
    color: var(--main-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
}
.menu-toggle {
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: none;
  outline: none;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
    visibility: hidden;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 40px;
  list-style: none;
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}
.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}
.menu-toggle-close {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 72px 24px 40px 16px;
  margin: 0;
  height: 100%;
  background-color: var(--cloud-white-color);
  z-index: 1;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  /* height: 640px;
  max-width: 320px; */
  overflow: scroll;
}
.menu-container.is-open {
  /* visibility: visible;
  opacity: 1;
  pointer-events: initial; */
  transform: translateX(0);
}
.nav__button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: var(--accent-cornflower-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: background-color, border;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigate__link-mobile {
  color: var(--main-color);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.contacts-mobile {
  margin-top: auto;
  margin-bottom: 48px;
}
.contacts-li {
  margin-bottom: 24px;
}
.contacts__item-mobile {
  color: var(--contact-information-color);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.socialmedia__list-mobile {
  gap: 40px;
  display: flex;

  margin-left: 0;
}
.section.add-service {
  background-color: var(--background-color);
  padding-top: 72px;
  padding-bottom: 72px;
  background-position: 50% 50%;
  background-image: linear-gradient(to bottom, #2e2f42b2, #2e2f42b2), url(../images/imgMobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .add-service.section {
    display: flex;
    justify-content: center;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(to bottom, #2e2f42b2, #2e2f42b2),
      url(../images/background-tablet.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .add-service.section {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(to bottom, #2e2f42b2, #2e2f42b2), url(../images/Img.jpg);
  }
}
.add-service.container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container.add-service {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container.add-service {
    width: 1440px;
  }
}
.add-service__title {
  margin: auto;
  width: 220px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--background-color);
  margin-bottom: 72px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .add-service__title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 1.12px;
    text-transform: capitalize;
    color: var(--background-color);
    margin-bottom: 72px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 496px;
  }
}
@media screen and (min-width: 1158px) {
  .add-service__title {
    width: 496px;
  }
}
.add-service__button {
  background-color: var(--second-color);
  width: 169px;
  height: 56px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--background-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: background-color var(--animation), box-shadow var(--animation);
}
.add-service__button:hover {
  background-color: var(--current-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity var(--animation) visibility var(--animation);
  z-index: 1000;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  display: grid;
  padding: 24px 16px;
  position: absolute;
  width: 288px;
  height: 623px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: var(--animation);
}
@media screen and (min-width: 1158px) {
  .modal {
    width: 408px;

    padding: 24px;
  }
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--background-color);
}
.modal-close-btn:active {
  background-color: var(--current-color);
  fill: var(--background-color);
}
.btn-svg {
  width: 18px;
  height: 18px;
}
.no-scroll {
  overflow: hidden;
}
.tittle-modal {
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-top: 48px;
}
@media screen and (min-width: 1158px) {
  .tittle-modal {
    margin-bottom: 16px;
  }
}
.icon-modal {
  fill: var(--main-color);
  z-index: 10;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill var(--animation);
}

.user {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--navigate-contacts-color);
  display: flex;
  flex-direction: column;
}
.container-modal {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
  transition: color var(--animation), border var(--animation), fill var(--animation);
}
.container-modal:focus .icon-modal,
.container-modal:focus-within .icon-modal {
  fill: var(--second-color);
}
.icon-modal:hover,
.icon-modal:focus {
  fill: var(--second-color);
}
.text-before-input {
  margin-bottom: 4px;
  color: var(--grey);
}

.input {
  position: relative;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  transition: border var(--animation);
  padding-left: 42px;
}
.container-modal:focus .input,
.container-modal:hover .input {
  border: 1px solid var(--second-color);
}
.container-modal:focus .icon-modal,
.container-modal:focus-within .icon-modal,
.container-modal:hover .icon-modal {
  fill: var(--second-color);
}
.container-modal:focus-within .input {
  border: 1px solid var(--second-color);
}
.input-comment {
  display: block;
  position: relative;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  color: var(--grey);
  opacity: 0.5;
  border: 1px solid rgba(33, 33, 33, 0.2);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  border-radius: 4px;
  transition: border-color var(--animation);
  padding: 8px 16px;
  outline: none;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.input-comment:hover,
.input-comment:focus {
  border-color: var(--second-color);
}
.container-modal:focus .enter-text,
.container-modal:hover .enter-text {
  color: transparent;
}
.enter-text {
  position: absolute;
  top: 16px;
  left: 16px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--navigate-contacts-color);
}

.container-contract {
  margin-bottom: 24px;
  transition: color var(--animation);
}
.container-contract:hover,
.container-contract:focus {
  color: var(--second-color);
}
.link-contract {
  color: var(--second-color);
  text-decoration: underline;
}
.btn-enter {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--second-color);
  width: 200px;
  height: 50px;
  justify-content: center;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.check-btn {
  position: absolute;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  transition: border var(--animation), background-color var(--animation);
}
.container-contract_vector {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  stroke-width: 1px;
  flex-shrink: 0;
  border: 1px solid;
  border-color: var(--grey);
  border-radius: 4px;
  cursor: pointer;
  transition: all var(--animation);
  fill: var(--background-color);
}
.check-btn:checked + .container-contract_vector {
  border: 2px solid var(--second-color);
  background-color: var(--second-color);
}

.contract-permit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment {
  color: var(--grey);
}
.contract-text {
  line-height: 1.14;
  color: var(--grey);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.48px;
  /* text-decoration-line: underline; */
}
.link-with-decoration {
  text-decoration: underline;
}
.container-modal-comment {
  text-align: left;
  margin-bottom: 20px;
}
.area-comment {
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 16px;
  right: 16px;
  border: none;
}
.contract-text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section.benefits,
.section.team,
.section.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    display: flex;
    justify-content: center;
  }
  .section.benefits,
  .section.team,
  .section.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.benefits__svg {
  visibility: hidden;
  display: none;
}
@media screen and (min-width: 1158px) {
  .benefits__svg {
    visibility: visible;
    display: flex;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--cloud-white-color);
    background-size: 264px 112px;
    padding: 25px 100px;
    border-radius: 4px;
    border: 1px solid var(--grey);
    background: var(--cloud-white-color);
  }
}
.benefits__title {
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
    margin-bottom: 8px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1158px) {
  .benefits__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    font-style: normal;
  }
}
@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    row-gap: 72px;
    /* gap: 24px; */
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1158px) {
  .benefits__list {
    gap: 24px;
  }
}
.benefits__text {
  color: var(--contact-information-color);
  width: 288px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .benefits__text {
    text-align: left;
    margin: 0;
    width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .benefits__text {
    font-weight: 400;
    width: 264px;
  }
}
.benefits__items:not(.last) {
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .benefits__items {
    margin-bottom: 0;
  }
  .benefits__items:not(.last) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1158px) {
  .benefits__items {
    width: 264px;
  }
}

.section.team {
  background-color: var(--cloud-white-color);
}

.team__title {
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-bottom: 72px;
}
.team__list {
  margin-left: auto;
  margin-right: auto;
  /* width: 264px; */
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    gap: 24px;
    row-gap: 64px;
    padding: 0;
  }
}
@media screen and (min-width: 1158px) {
  .team__list {
    padding-left: 0;

    flex-wrap: nowrap;
    margin: auto;
  }
}
.team__item {
  width: 264px;
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  background: var(--background-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team__item:not(.last) {
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .team__item:not(.last) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1158px) {
  .team__item:not(.last) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    margin-bottom: 0;
    width: calc(100%-24px) / 2;
  }
  .benefits__item:not(.last) {
    margin-bottom: 0;
  }
}

.team__text {
  background-color: var(--background-color);
  padding: 32px 16px;
}
.team__name {
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.team__proffesion {
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-top: 8px;
}
.socialmedia__list {
  display: flex;
  margin-top: 8px;
  justify-content: center;
  margin-left: 0;
  gap: 24px;
}
.socialmedia__item {
  background-color: var(--second-color);
  border-radius: 50%;
}
.socialmedia__item:hover {
  background-color: var(--second-color);
}
.socialmedia__item:not(:last-child) {
  fill: currentColor;
}
.socialmedia__link {
  display: flex;
  width: 40px;
  height: 40px;
  color: var(--cloud-white-color);
  justify-content: center;
  align-items: center;

  transition: background-color var(--animation), color var(--animation);
}

.socialmedia__link:hover,
.socialmedia__link:focus {
  background-color: var(--second-color);

  color: var(--background-color);
}
.socialmedia__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.portfolio__title {
  text-align: center;
  color: var(--main-color);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.main-footer {
  background-color: var(--main-color);
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
  .main-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.container.footer {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 528px;
  }
}
@media screen and (min-width: 1158px) {
  .container.footer {
    width: 1128px;
    flex-wrap: nowrap;
  }
}
.nav__logo-third {
  color: var(--cloud-white-color);
}
.nav__logo.foot {
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav__logo.foot {
    padding: 0;
    margin: 0;
    text-align: left;
  }
}
.footer__information {
  color: var(--cloud-white-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: auto;
  width: 268px;
  margin-top: 17.5px;
}
@media screen and (min-width: 1158px) {
  .footer__information {
    margin-bottom: 0;
  }
}
.footer__first-block {
  text-align: left;
}
@media screen and (min-width: 768px) {
  .footer__first-block {
    width: 264px;
    margin-right: 24px;
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .footer__first-block {
    margin-left: 0;
    margin-right: 120px;
  }
}
.f-socialmedia {
  margin-top: 72px;
}
@media screen and (min-width: 768px) {
  .f-socialmedia {
    margin-top: 0;
  }
}
.f-socialmedia__tittle {
  color: var(--cloud-white-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .f-socialmedia__tittle {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .socialmedia__list.footer {
    gap: 16px;
  }
}
.f-form {
  margin-top: 72px;
}

@media screen and (min-width: 768px) {
  .f-form {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .f-form {
    margin-left: 80px;
    margin-top: 0;
  }
}
.f-form__title {
  color: var(--background-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
@media screen and (min-width: 768px) {
  .f-form__title {
    text-align: start;
  }
}
.f-form__label {
  display: flex;
  flex-direction: column;
}
.f-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px var(--logo-second-part-color-black));
  border-radius: 4px;
  background: transparent;
  color: var(--background-color);
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .f-form__input {
    width: 264px;
  }
}
.f-form__input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
}
.footer__btn {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__btn {
    margin-top: 25px;
  }
}
.f-form__btn {
  width: 165px;
  height: 40px;
  background-color: var(--second-color);

  border-radius: 4px;
  border-color: var(--second-color);
  cursor: pointer;
  margin-top: 16px;
}

.f-form__btn-text {
  padding: 0;
  color: var(--background-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.f-form__svg {
  width: 24px;
  height: 24px;
  fill: var(--background-color);
  vertical-align: middle;
}
.header.portfolio {
  border: 1px solid var(--cornflower, #e7e9fc);

  background-color: var(--background-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.portfolio__btn {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .portfolio__btn {
    justify-content: center;
  }
}
.portfolio__list {
  border-radius: 4px;
  background: var(--current-color);
}
.button-filter.first {
  border-radius: 4px;
  background: var(--current-color);
  color: var(--background-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
.button-filter {
  border-radius: 4px;
  border: 1px solid var(--btn-background);
  background-color: var(--cloud-white-color);
  color: var(--second-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 8px 16px;
}
.portfolio__elements {
  display: flex;
  padding-bottom: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .portfolio__elements {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1158px) {
  .portfolio__elements {
    justify-content: center;
    margin-top: 72px;
    margin-bottom: 0;
  }
}
.portfolio__item {
  width: 288px;
  border: 1px solid var(--cloud-white-color);
  background: var(--background-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1158px) {
  .portfolio__item {
    width: calc(100%-24px) / 2;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: 356px;
    border: 1px solid var(--cloud-white-color);
    background: var(--background-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
}
.portfolio__item:nth-child(1n + 7) {
  padding-bottom: 0;
  margin-bottom: 0;
}
.p-box__container {
  padding: 32px 16px;
}
@media screen and (min-width: 1158px) {
  .p-box__container {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    border: 1px solid var(--background-portfolio-list-color);
    border-top: none;
    padding-top: 20px;
  }
}
.p-box__project {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--main-font-color);
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .p-box__project {
    color: var(--main-color);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
}
@media screen and (min-width: 1158px) {
  .p-box__project {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--main-color);
  }
}

@media screen and (min-width: 768px) {
  .p-box__type {
    color: var(--contact-information-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
}
@media screen and (min-width: 1158px) {
  .p-box__text {
    font-size: 18px;
    line-height: 1.56;
    color: var(--background-color);
  }
}
.p-box__type {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--contact-information-color);
}
@media screen and (min-width: 1158px) {
  .p-box__type {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--contact-information-color);
  }
}
.p-box__text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--background-color);
}

.p-box {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  background-color: var(--second-color);
  transform: translateY(100%);
  transition: transform var(--animation);
}
@media screen and (min-width: 1158px) {
  .p-box {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: var(--second-color);
    transform: translateY(100%);
    transition: transform var(--animation);
  }
}
.portfolio__link {
  display: block;
  position: relative;
  overflow: hidden;
  height: 280px;
  width: 288px;
}
@media screen and (min-width: 768px) {
  .portfolio__link {
    height: 300px;
    width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .portfolio__link {
    display: block;
    position: relative;
    overflow: hidden;

    width: 360px;
  }
}

.portfolio__link:hover .p-box,
.portfolio__link:focus .p-box {
  transform: translatex(0);
}
.p-box__text {
  width: 296;
  color: var(--cloud-white-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.portfolio__img {
  width: 396px;
  height: 280px;
}
@media screen and (min-width: 768px) {
  .portfolio__img {
    width: 356px;
    height: 300px;
  }
}
/* .ccurrent.navigate__link::after {
  content: ;
  border: 2px solid black;
} */
.current {
  color: var(--current-color);
}
